* {
    margin: 0;
    padding-top: 0;
    align-items: center;

}

#part1 {
    background: rgb(246, 253, 246);
    padding-bottom: 80px;
}

#firstList {
    list-style: none;
    display: flex;
    padding-left: 300px;
    /* padding-top: 50px; */
    font-size: large;
    font-weight: bold;
}

#firstList :hover {
    color: rgb(90, 172, 90);
}

.img {
    padding-right: 80px;
}

.link {
    text-decoration: none;
    color: black;
    padding-right: 30px;
}

.bartag {
    text-decoration: none;
    font-size: large;
    color: white;
    background-color: rgb(85, 188, 85);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 20px;
    border-radius: 20px;


}




.firsParagraph {
    font-weight: bolder;
    font-size: 330%;
    padding-left: 380px;
}

.fp {
    font-weight: bolder;
    font-size: 100%;
    /* padding-left: 380px; */
    color: rgb(85, 188, 85);
}

.secondParagraph {
    font-weight: bold;
    font-size: 120%;
    padding-left: 380px;
}

.color1 {
    color: rgb(85, 188, 85);
}

.color2 {
    color: rgb(245, 148, 113);
}

.color3 {
    color: skyblue;
}

#secondList {
    display: flex;
    list-style: none;
    padding-left: 380px;

}

.link2 {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(85, 188, 85);
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: 20px
}

#part2 {
    padding-top: 140px;
}

.thirdParagraph {
    padding-left: 800px;
    /* padding-top: 90px; */
    align-items: center;
    font-size: 20px;
}

.lineSpan1 {
    padding-left: 100px;
}

.lineSpan2 {
    padding-left: 10px;
}

.lineSpan3 {
    padding-left: 310px;
}

.link3 {
    color: rgb(85, 188, 85);
    padding-left: 980px;
    font-size: larger;
    font-weight: 500;
}

.fourthParagraph {
    font-weight: 800;
    font-size: 200%;
    padding-left: 800px;
}

.lineSpan4 {
    padding-left: 20px;
}

.paragraph5 {
    font-weight: 800;
    font-size: 230%;
    padding-left: 400px;
}

#part3 {
    background: rgb(246, 253, 246);
    padding-bottom: 100px;
    padding-top: 160px;
}

.paragraph6 {
    font-size: 20px;
    padding-left: 400px;
    font-weight: 300;
}

#thirdList {
    display: flex;
    list-style: none;
    padding-left: 400px;
    gap: 40px;



}

.link4A {

    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(85, 188, 85);
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
    border: 20px
}

#link4B {
    color: rgb(85, 188, 85);
    font-size: larger;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration: underline black;

}

#part4 {
    align-items: center;
    padding-bottom: 100px;

}

.paragraph7 {
    font-size: 230%;
    font-weight: 800;
    padding-left: 1050px;
    padding-top: 90px;
}

.paragraph8 {
    padding-left: 1050px;
    padding-top: 6px;
    font-size: 18px;
    font-weight: 300;
}

.lineSpan5 {
    color: rgb(70, 3, 3);
    font-weight: bold;
    font-size: 25px;
}

#list4 {
    display: flex;
    list-style: none;
    padding-left: 1080px;
    gap: 40px;
}

.link5A {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(85, 188, 85);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 12px;
    border-radius: 20px;
}

#link5B {
    color: rgb(85, 188, 85);
    font-size: larger;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration: underline black;
}

.part5 {
    background-color: rgb(246, 253, 246);
    padding-top: 100px;
    padding-bottom: 100px;
}

.paragraph9 {
    padding-left: 400px;
    font-size: 230%;
    font-weight: 800;

}


.paragraph10 {
    padding-left: 400px;
    font-size: 20px;
    font-weight: 300;

}

#list6 {
    display: flex;
    list-style: none;
    text-decoration: none;
    padding-left: 400px;
    gap: 40px;
    
}

.link6A {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 100%;
    background-color: rgb(85, 188, 85);
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 12px;
    border-radius: 20px;
}

#link6B {
    color: rgb(85, 188, 85);
    font-size: larger;
    text-decoration: none;
    text-decoration-line: underline;
    text-decoration: underline black;
}

.paragraph11{
    font-weight: 800;
    font-size: 200%;
    padding-left: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.subtitle1{
    color: black;
    font-weight: 800;
    font-size:200%;
    padding-left: 900px;
    padding-top: 70px;
    background-color: rgb(246, 253, 246);
    padding-bottom: 50px;
   
}

.list7{
     display: flex;
    text-decoration: none;
    list-style: none;
    padding-left: 400px;
    padding-top: 50px;
    padding-right: 80px;
    gap: 50px; 

}

.sub1{
    color: rgb(85, 188, 85);
    font-size: 20px;
    font-weight: bold;
}